torch>=2.6.0
transformers>=4.51.3
datasets>=3.5.1
trl>=0.17.0
torchvision>=0.21.0
numpy>=2.2.4
tiktoken>=0.9.0
peft~=0.15.2
accelerate>=1.6.0
requests>=2.32.3
tqdm>=4.66.5
pyyaml>=6.0.1
pillow>=11.1.0
setuptools>=72.1.0
pytorch-lightning>=2.4.0
IPython>=8.27.0
tokenizers>=0.21.1
packaging>=24.1
openai>=1.37.0
scikit-learn>=1.5.2
pycocoevalcap~=1.2
tensorboard>=2.19.0
huggingface_hub~=0.30.2
insightface~=0.7.3
pandas~=2.2.3
google-cloud-vision~=3.10.0
sentencepiece~=0.2.0
onnxruntime~=1.21.0
spacy~=3.8.4
qwen_vl_utils==0.0.10
yaml~=0.2.5
protobuf~=5.28.2
httpx~=0.27.2
seaborn~=0.13.2
nltk~=3.9.1
matplotlib~=3.9.2
scipy~=1.14.1